<div class="row justify-content-start align-content-center position-relative" id="roomCardDeck">
    <div class="col-12 flex-center">
        <div class="uno-card shaking position-relative">
            <div class="row color-black">
                <div class="col-12 small"><div class="type"></div></div>
                <div class="col-12">
                    <div class="big type position-relative" style="flex-direction: column;">
                        <h2>Uno Tacos</h2>
                        <img src="../../img/tacos.png" class="smallImg" alt="Card deck"/>
                    </div>
                </div>
                <div class="col-12 small text-right"><div class="type"></div></div>
            </div>
        </div>
    </div>
    <div id="uno" style="display: none;" class="col-12">
        <button id="uno-btn"
                type="button"
                disabled="disabled"
                class="btn btn-success btn-lg"
                onclick="screamUno()">UNO !</button>
        <button id="contre-uno-btn"
                type="button"
                disabled="disabled"
                class="btn btn-warning btn-lg"
                onclick="screamContreUno()">CONTRE UNO !</button>
    </div>
</div>
