<div style="display: none;">
    <div id="color-change-block" class="row g-3 p-4">
        <div class="col-12 flex-center">
            <p class="fw-bolder">Nouvelle couleur</p>
        </div>
        <div class="col-6 elevate clickable" id="change-blue">
            <div class="color-blue h-100 w-100"></div>
        </div>
        <div class="col-6 elevate clickable" id="change-red">
            <div class="color-red h-100 w-100"></div>
        </div>
        <div class="col-6 elevate clickable" id="change-yellow">
            <div class="color-yellow h-100 w-100"></div>
        </div>
        <div class="col-6 elevate clickable" id="change-green">
            <div class="color-green h-100 w-100"></div>
        </div>
    </div>
    <div class="overlay"></div>
</div>
