<div class="floating-logo">
    <a href="https://github.com/demarbre1u/uno-tacos.git" target="_blank">
        <img src="../../img/hat.png" class="img-fluid"/>
    </a>
</div>
<div class="custom-tooltip">
    <i class="ri-github-line me-2"></i> Github
</div>