<div class="col-12 col-sm-6 col-md-5 col-lg-5 text-center p-5" id="starting-block">
    <button id="start-game-btn"
            type="button"
            class="btn btn-success btn-lg pulse-btn"
            style="display: none" onclick="startGame()">Start game</button>
    <p>Partager le lien de la room</p>
    <div class="input-group mb-3 share-link">
        <input type="text" class="form-control" placeholder="Share link"
               readonly id="roomName"
               aria-label="Share room link" aria-describedby="copyRoomName-btn">
        <button class="btn btn-dark" type="button" id="copyRoomName-btn"
                onclick="copyRoomName()">
            <i class="ri-file-copy-line"></i>
        </button>
    </div>

    <div id="players" class="small fst-italic"></div>
</div>
<div id="roomFull" class="col-12 col-sm-6 col-md-5 col-lg-5 text-center p-5" style="display: none">
    <p>Cette partie est déjà complète. Veuillez créer une nouvelle partie.</p>
    <p>Vous allez être redirigé vers la page d'accueil dans...<span id="secondsLeft" class="fw-bolder"></span></p>
</div>

<script>
    var base = new Date();
    var countDownDate = base.setSeconds(base.getSeconds() + 10);

    console.log($('#roomFull')[0].style['display'])

    if ($('#roomFull')[0].style.display === 'block') {
        // Update the count down every 1 second
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("secondsLeft").innerHTML = seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                window.location.href = 'http://localhost:3000';
            }
        }, 1000);
    }

</script>