<div id="uno" style="display: none;" class="col-12">


</div>

<button id="uno-btn"
        type="button"
        disabled
        class="btn btn-success btn-lg uno"
        onclick="screamUno()">UNO !</button>

<button id="contre-uno-btn"
        type="button"
        disabled
        class="btn btn-warning btn-lg uno"
        onclick="screamContreUno()">CONTRE UNO !</button>