{{> floating-logo}}

<div class="row justify-content-center">
    {{> starting-block}}
</div>
<div class="row justify-content-center" id="gamePlay">
    {{> color-change}}
    <div class="col-8" id="roomCardHeap"></div>
    <div class="col-4" id="rightSidebar">
        <div class="row justify-content-start align-content-center position-relative" style="height:200px" id="roomTurn">
            <div class="table-responsive">
                <table id="otherPlayers"
                       class="table table-bordered table-sm
                       table-striped table-hover table-light caption-top align-middle">
                    <caption class="small"></caption>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-start align-content-center position-relative" id="roomCardDeck">
            <div class="col-12 flex-center">
                <div class="uno-card shaking position-relative">
                    <div class="row color-black">
                        <div class="col-12 small"><div class="type"></div></div>
                        <div class="col-12">
                            <div class="big type position-relative" style="flex-direction: column;">
                                <h2>Uno Tacos</h2>
                                <img src="../../img/tacos.png" class="smallImg" alt="Card deck"/>
                            </div>
                        </div>
                        <div class="col-12 small text-right"><div class="type"></div></div>
                    </div>
                </div>
            </div>
            <div id="uno" style="display: none;" class="col-12">
                <button id="uno-btn"
                        type="button"
                        disabled="disabled"
                        class="btn btn-success btn-lg"
                        onclick="screamUno()">UNO !</button>
                <button id="contre-uno-btn"
                        type="button"
                        disabled="disabled"
                        class="btn btn-warning btn-lg"
                        onclick="screamContreUno()">CONTRE UNO !</button>
            </div>
        </div>
    </div>
    <div class="col-12" id="ownerCards"></div>
</div>

<script src="../socket.io/socket.io.js"></script>
<script>
    var CardColors = JSON.parse('{{{CardColors}}}');
    var CardTypes = JSON.parse('{{{CardTypes}}}');
    var RoomStates = JSON.parse('{{{RoomStates}}}');

    console.log({CardColors});
    console.log({CardTypes});
    console.log({RoomStates});

    var roomId = '{{roomId}}';
    var socket = io();
    var userId;

    var currentUser;

    $(document).ready(function() {
        // Lorsque le joueur clique sur le tas de carte, il demande au serveur de piocher
        $('#roomCardDeck .uno-card').on('click', function(event) {
            socket.emit('drawCard', {userId, roomId});
        });

        $(".uno-card.user").mouseenter(() => {
            console.log('hello')
        });
    });

    socket.on('connected', function(uid) {
        userId = uid;
        socket.emit('joinRoom', roomId);
    }); 

    socket.on('roomFull', function(roomId) {
        redirectUser('full');
    });

    socket.on('gameAlreadyOngoing', function(roomId) {
        redirectUser('ongoing');
    });

    socket.on('gameData', function(gameData) {
        var gameState = gameData.roomState;
        var gameOwner = gameData.roomOwner;

        console.log(gameData);

        switch(gameState) {
            case RoomStates.WAITING_FOR_PLAYERS: 
                $('#starting-block').show();
                $('#starting-block #players').html('');
                $('#ownerCards').html('');
                $('#gamePlay').hide();

                var startGameBtn = document.getElementById('start-game-btn');
                startGameBtn.style.display = 'hidden';

                break;
            case RoomStates.READY: 
                $('#starting-block').show();
                $('#ownerCards').html('');
                $('#gamePlay').hide();

                // Affiche le bouton "Start game" s'il y a assez de joueurs, et que l'utilisateur courrant est le propriétaire de la room
                if(gameOwner === userId) {
                    var startGameBtn = document.getElementById('start-game-btn');
                    startGameBtn.style.display = 'block';
                }

                $('#starting-block #players').html(gameData.roomPlayers.length + ' joueurs ont rejoint la room');

                break;
            case RoomStates.GAME_ONGOING:
                $('#gamePlay').show();
                $('#starting-block').hide();
                $('#uno').show();

                $('#otherPlayers caption').text(gameData.roomPlayers.length + ' joueurs');

               currentUser = gameData.roomPlayers.find(u => u.uuid === userId);

                var table = '';
                gameData.roomPlayers.forEach(u => {
                    table += getPlayerTurnTemplate(u, gameData.roomPlayerTurn.uuid === u.uuid, );
                });
                $('#otherPlayers tbody').html(table);

                // Affiche les cartes de l'utilisateur courrant
                let html = '', leftIndex = 0, topIndex = 0, zIndex = 5;
                currentUser.cards.forEach((c, index) => {
                    let modulo = index % 8;
                    if (modulo === 0 && index > 0) {
                        topIndex -= 100;
                        leftIndex = 0;
                        zIndex --;
                    }
                    html += getCardTemplate(c, 'user', index, leftIndex, topIndex, zIndex);
                    leftIndex += 140;
                });

                $('#ownerCards').html(html);
                $('#roomCardDeck').show();

                console.log(currentUser.cards.length)

                var isUserTurn = gameData.roomPlayerTurn.uuid === userId;
                // Si c'est le tour de l'utilisateur courant, les cartes peuvent être cliquées pour être jouées
                if(isUserTurn) {
                    let cardId;
                    $('#ownerCards .uno-card').off('click');
                    $('#ownerCards .uno-card').on('click', function(event) {
                        event.stopPropagation();
                        
                        cardId = $(this).data('id');

                        if (currentUser.cards[cardId].type === CardTypes.TYPE_COLOR_CHANGE) {
                            $('#template-color-change').fadeIn();

                            $('#closeColorChange-btn').on('click', function(event) {
                                $('#template-color-change').fadeOut();
                            });

                            $('#color-change-block .clickable').on('click', function (event) {
                                let color;
                                switch ($(this).data('color')) {
                                    case "red": color = CardColors.COLOR_RED; break;
                                    case "blue": color = CardColors.COLOR_BLUE; break;
                                    case "green": color = CardColors.COLOR_GREEN; break;
                                    case "yellow": color = CardColors.COLOR_YELLOW; break;
                                    default: break;
                                }
                                console.log({
                                    roomId: roomId,
                                    playerId: userId,
                                    cardId: cardId,
                                    color: color
                                })
                                socket.emit('playCard', {
                                    roomId: roomId,
                                    playerId: userId,
                                    cardId: cardId,
                                    color: color
                                });
                                $('#template-color-change').fadeOut();

                                return false;
                            });
                        } else {
                            socket.emit('playCard', {
                                roomId: roomId,
                                playerId: userId,
                                cardId: cardId,
                            });
                        }
                    });

                    if (currentUser.cards.length === 1) {
                        $('#uno-btn').prop('disabled', false);
                    }
                }

                let lastAddedCard = gameData.roomCardHeap.slice(-1)[0];
                $('#roomCardHeap').html(getCardTemplate(lastAddedCard, 'deck', 0, 0));


                if (gameData.roomPlayers.some(p => p.cards.length === 1))
                    $('#contre-uno-btn').prop('disabled', false);

                break;
        }

        $('#roomName').val('http://localhost:3000/game/' + gameData.roomName);
    });

    function redirectUser(type) {
        $('#starting-block').hide();
        $('#roomFull').show();
        $("#roomFull #type").text(type === 'ongoing' ? 'a déjà commencé' : 'est déjà complète (max 4 joueurs)');

        let base = new Date(), countDownDate = base.setSeconds(base.getSeconds() + 10);
        var x = setInterval(function() {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            $("#secondsLeft").text(seconds + "s ");
            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                window.location.href = 'http://localhost:3000';
            }
        }, 1000);
    }

    function startGame() {
        socket.emit('startGame', roomId);
        $('#start-game-btn').hide();
        $('#ownerCards').html('');
    }

    function copyRoomName() {
        var copyTextarea = document.querySelector('#roomName');
        copyTextarea.focus();
        copyTextarea.select();

        try {
            document.execCommand('copy');
            var tooltip = bootstrap.Tooltip.getOrCreateInstance($('#copyRoomName-btn'), {
                trigger: 'manual',
                title: 'Lien copié!',
                animation: true
            });
            tooltip.show();
            setTimeout(function () {tooltip.hide()}, 3000);
        } catch (err) {
            console.error(err)
            console.error('Oops, unable to copy');
        }
    }

    function chooseCard(event) {
        console.log(event)
        // todo: choose card from player cards and add it game deck
    }

    function pickUpCards() {
        // todo: pickup random card from deck and add it to player cards
    }

    function screamUno() {
        alert('UNO !');
        // todo: if opponent clicked on CONTRE UNO, then player picks up 7 cards
    }

    function screamContreUno() {
        alert('CONTRE UNO !');
        // todo: if opponent didn't click UNO, then opponent picks up 7 cards
    }

    function getPlayerTurnTemplate(user, theirTurn = false) {
       return   '<tr>' +
                '<td class="text-center">' +
                (theirTurn ? '<img src="../../img/hat.png" class="img-fluid" style="width:70px;height:auto;" alt="YourTurn"/>' : '') +
                '</td>' +
                '<td class="text-center ' + (theirTurn ? 'fw-bold' : '') +'">' + user.username +'</td>' +
                '</tr>';
    }

    function getCardTemplate(card, origin, index, leftIndex, topIndex = 0, zIndex = 0) {

        if(typeof card === 'undefined')
            return '';

        let colorClass = 'color-';
        switch (card.color) {
            case CardColors.COLOR_RED:
                colorClass += 'red'; break;
            case CardColors.COLOR_BLUE:
                colorClass += 'blue'; break;
            case CardColors.COLOR_GREEN:
                colorClass += 'green'; break;
            case CardColors.COLOR_YELLOW:
                colorClass += 'yellow'; break;
            case CardColors.COLOR_SPECIAL:
            default:
                colorClass += 'black'; break;
        }

        let bigCardType, smallCardType;
        switch (card.type) {
            case CardTypes.TYPE_REVERSE:
                smallCardType = '<img class="smallImg" src="../../img/card-types/reverse.png" alt=""/>';
                bigCardType = '<img class="bigImg" src="../../img/card-types/reverse.png" alt=""/>';
                break;
            case CardTypes.TYPE_SKIP:
                smallCardType = '<img class="smallImg" src="../../img/card-types/skip.png" alt=""/>';
                bigCardType = '<img class="bigImg" src="../../img/card-types/skip.png" alt=""/>';
                break;
            case CardTypes.TYPE_PLUS_2:
                smallCardType = '+2';
                bigCardType = '+2';
                break;
            case CardTypes.TYPE_PLUS_4:
                smallCardType = '+4';
                bigCardType = '+4';
                break;
            case CardTypes.TYPE_COLOR_CHANGE:
                smallCardType = '<img class="smallImg" src="../../img/card-types/color-change.png" alt=""/>';
                bigCardType = '<img class="bigImg" src="../../img/card-types/color-change.png" alt=""/>';
                break;
            default:
                bigCardType = card.type;
                smallCardType = card.type;
                break;
        }

        let cardClass = '';
        if (origin === 'deck') {
            leftIndex = '25%';
        } else {
            cardClass = origin;
            leftIndex += 'px';
        }

        return '<div class="uno-card '+ cardClass + '" ' +
                    'data-id="' + index + '" ' +
                    'data-special="' + card.type + '"' +
                    'data-origin="'+ origin + '" ' +
                    'style="left: '+ leftIndex +';top: ' + topIndex +'px;z-index:' + zIndex + ';">' +
                '<div class="row ' + colorClass + '">' +
                '<div class="col-12 small"><div class="type">' + smallCardType + '</div></div> ' +
                '<div class="col-12"><div class="big type"> ' + bigCardType + '</div></div> ' +
                '<div class="col-12 small text-right"><div class="type">' + smallCardType + '</div></div> ' +
                '</div>' +
                '</div>';
    }

</script>
