<button id="start-game-btn" style="display: none" onclick="startGame()">Start game</button>

<script src="../socket.io/socket.io.js"></script>
<script>
    var CardColors = JSON.parse('{{{CardColors}}}');
    var CardTypes = JSON.parse('{{{CardTypes}}}');
    var RoomStates = JSON.parse('{{{RoomStates}}}');

    console.log({CardColors});
    console.log({CardTypes});
    console.log({RoomStates});

    var roomId = '{{roomId}}';
    var socket = io();
    var userId;

    socket.on('connected', function(uid) {
        userId = uid;
        socket.emit('joinRoom', roomId);
    }); 

    socket.on('gameData', function(gameData) {
        var gameState = gameData.roomState;
        var gameOwner = gameData.roomOwner;

        console.log(gameData)

        if(gameState === 1 && gameOwner === userId) {
            var startGameBtn = document.getElementById('start-game-btn');
            startGameBtn.style.display = 'block'
        }
    });

    function startGame() {
        socket.emit('startGame', roomId);
        var startGameBtn = document.getElementById('start-game-btn');
        startGameBtn.style.display = 'none'
    }
</script>
