
<div class="container">
    <div class="row justify-content-center align-content-center">
        <div class="col-12 text-center">
            <img src="../../img/hat.png" alt="" width="100px" height="100px"
                 class="animate__animated"
                 style="display: inline-block"/>
            <h1 style="display: inline-block">Uno Tacos</h1>
        </div>
    </div>
    <div class="row justify-content-center align-content-center">
        <div class="col-6">
            <a href="/game/test">New game</a>
        </div>
        <div class="col-5">

        </div>
        <div class="col-12">
            <img src="../../img/tacos.png" class="img-fluid" alt="Uno Tacos"/>
        </div>
    </div>

</div>