.color-blue {
    background: #54a9ff;
}

.color-red {
    background: #ff3a28;
}

.color-yellow {
    background: #fff43f;
}

.color-green {
    background: #40a95a;
}

.color-black {
    background: #1d1d1d;
}

.color-black .small .type {
    color: white;
}