body {
    height: 100vh;
    overflow: hidden;

    background: radial-gradient(ellipse at top, #fff8a5f2, transparent),
    radial-gradient(ellipse at bottom, #e60c0c, transparent);
}

p, span, div {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    background: -webkit-linear-gradient(#dc3232, #f1be48);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}