body {
    height: 100vh;
    overflow: hidden;

    background: radial-gradient(ellipse at top, #fff8a5f2, transparent),
    radial-gradient(ellipse at bottom, #e60c0c, transparent);
}

p, span, div {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
    background: -webkit-linear-gradient(#dc3232, #f1be48);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}


.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

#gamePlay {
    height: 100%;
}

#roomCardHeap {
    height: 80%;
}

#uno {
    position: absolute;
    bottom: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
}

#uno button {
    width: 45%;
}

#ownerCards {
    position: absolute;
    bottom: 20vh;
}

#start-game-btn {
    margin: 30px auto;
}

#roomCardDeck {
    display: none;
}

.uno-card {
    background: white;
    width: 250px;
    height: 350px;
    display: inline-block;
    margin: 3%;
    padding: 1.3% 2%;
    border: 1px solid #343434;
    border-radius: 20px;
    box-shadow: 2px -3px 4px rgba(239, 157, 50, 0.68);
    position: absolute;
    top: 0;
    cursor: pointer;

    transition: all ease-in-out 0.2s;
}

.uno-card .row {
    border-radius: 20px;
    height: 100%;
}

.uno-card .type {
    font-size: 2rem;
}
.uno-card .small.col-12 {
    height: 0;
}

.uno-card .big.type {
    font-size: 5rem;
    background: white;
    border-radius: 135px 30px 135px 30px;
    padding: 3%;
    font-weight: bolder;
    text-shadow: 0 0 7px black;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno-card .smallImg {
    width:60px;
    height:60px;
}
.uno-card .bigImg {
    width:100px;
    height:100px;
}

.color-blue {
    background: #54a9ff;
}

.color-red {
    background: #ff3a28;
}

.color-yellow {
    background: #fff43f;
}

.color-green {
    background: #40a95a;
}

.color-black {
    background: #1d1d1d;
}

.elevate:hover {
    top: -60px;
    z-index: 1;
}

#roomTurn p {
    text-align: center;
    padding: 5%;
    font-weight: 900;
    font-size: 2rem;
}

.shaking:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.floating-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}

.floating-logo:hover {
    -webkit-animation: rubberBand 1s infinite;
    animation: rubberBand 1s infinite;
    cursor:pointer;
}