.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.flex-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.clickable {
    cursor: pointer;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}