#home.container {
    background: url(../../img/tacos.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 100vh;
}

.pulse-btn {
    -webkit-animation: pulse 1s infinite;
    animation: pulse 1s infinite;
    cursor:pointer;
}